* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 667px;
  width: 375px;
  background: #d5e1ef;
  margin: 0 auto;
  display: flex;
}

.content {
  height: 497px;
  width: 320px;
  display: flex;
  margin: auto;
  border-radius: 20px;
  background: #fff;
}

.image {
  background-image: url('images/image-qr-code.png');
  height: 288px;
  width: 288px;
  border-radius: 10px;
  /* width: 80%;
  height: 50%; */
}
